
<!-- Este archivo es la plantilla que se utiliza en todas las vistas al cargarlas -->

<!DOCTYPE html>
<html>
<head>
  <title>Producthunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
	<div class="alert alert-info"> <%= flash[:notice] %></div>
	<% end %>


	<% if signed_in? %>
	  <div>Hola <%= current_user.name %> <%= button_to "Salir", logout_path, method: :delete %></div>
	<% end %>

<%= yield %>

</body>
</html>
